.container {
  width:100%;
  margin:0 auto;
}

input[type="radio"] {
  display: none;
}

label {
  width: 100%;
  max-width: 100px;
  color:#222222;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor:pointer;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 0.75rem; /*12px*/
}

input[type="radio"][id=ontwerp]:hover + label {
  border: 1px solid #C56D60;
  opacity: 1;
  border-radius: 2px;
}

input[type="radio"][id="ontwerp"]:checked + label {
  background:#C56D60;
}
input[type="radio"][id="ontwerp"]:checked ~ .website, input[type="radio"][id="ontwerp"]:checked ~ .onderzoek {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id=website]:hover + label {
  border: 1px solid #80A2A6;
  opacity: 1;
  border-radius: 2px;
}

input[type="radio"][id="website"]:checked + label {
  background:#80A2A6;
}
input[type="radio"][id="website"]:checked ~ .ontwerp, input[type="radio"][id="website"]:checked ~ .onderzoek {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id=onderzoek]:hover + label {
  border: 1px solid #C5A0A2;
  opacity: 1;
  border-radius: 2px;
}

input[type="radio"][id="onderzoek"]:checked + label {
  background:#C5A0A2;
}
input[type="radio"][id="onderzoek"]:checked ~ .ontwerp, input[type="radio"][id="onderzoek"]:checked ~ .website {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id=reset]:hover + label {
  border: 1px solid #037277;
  opacity: 1;
  border-radius: 2px;
}

.tile {
  width: 100%;
  max-width:400px;
  margin: 1rem 0;
  padding: 2rem;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.onderzoek {
  background:#C5A0A2;
}
.ontwerp {
  background:#C56D60;
}
.website {
  background:#80A2A6;
}