@media only screen and (min-width: 460px){
	.intro-image{
		max-width: 400px;
	}

	.myWork{
		max-width: 350px;
	}
}

@media only screen and (min-width: 800px){
	.tile{
		margin: 1rem !important;
	}
}

@media only screen and (min-width: 860px){
	.escapehatch{
		display: none;
	}

	.layout-header{
		top: 0;
		height: 130px;
		align-items: center;
		position: sticky;
		z-index: 3;
	}

	#logo-hidden{
		display: block;
	}
}
