@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: 	#141414;
	text-align: center;
}

p{
	font-family: 'Montserrat', sans-serif;
}

/*opmaak navigatiemenu*/
#logo-hidden{
	width: 100%;
	max-width: 100px;
	height: auto;
	display: none;
}

.layout-header{
	z-index: 3;
	bottom: 0;
    position: fixed;
    top: auto;
    width: 100%;
    background-color: #333;
    display: flex;
	justify-content: center;
	padding: 0;
}

ul {
	list-style-type: none;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 1.25rem;
}

.nav-container a {
	color: white;
	text-decoration: none;
	padding: 1.25rem;
}

/*Opmaak logo*/
.escapehatch{
	background-color: #333;
	height: 110px;
}

.logo{
	width: 100%;
	max-width: 100px;
	height: auto;
	margin: 0.5rem auto; /*makes sure the logo is in the middle*/
}

/*Opmaak introbox*/
.intro-box{
	margin: 1rem 0;
	width: 100%;
	border-style: solid;
	border-color: blue;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Opmaak intro image*/
.intro-image{
	width: 100%;
	max-width: 350px;
	height: auto;
}

.intro-image, .intro-tekst {
	margin: 1rem;
}

/*Opmaak workethic box*/
.workethic-box{
	background-color: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.workethic-image{
	width: 100%;
	max-width: 100px;
	height: auto;
}

.workethic-text{
	border-style: solid;
	border-color: red;
	margin: 1rem;
	max-width: 350px;
}

.end{
	margin-top: 4rem;
}


