@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: 	#141414;
	text-align: center;
}

body { 
	min-height: 100vh; 
}


.main{
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}

p{
	font-family: 'Montserrat', sans-serif;
}

/*opmaak navigatiemenu*/
#logo-hidden{
	width: 100%;
	max-width: 100px;
	height: auto;
	display: none;
}

.layout-header{
	z-index: 3;
	bottom: 0;
    position: fixed;
    top: auto;
    width: 100%;
    background-color: #333;
    display: flex;
	justify-content: center;
	padding: 0;
}

ul {
	list-style-type: none;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 1.25rem;
}

.nav-container a {
	color: white;
	text-decoration: none;
	padding: 1.25rem;
}

/*Opmaak logo*/
.escapehatch{
	width: 100%;
	background-color: #333;
	margin: 0 auto;
}

.logo{
	width: 100%;
	max-width: 100px;
	height: auto;
	/*margin: 0.5rem auto;*/ /*makes sure the logo is in the middle*/
}

/*Opmaak introbox*/
.intro-box{
	width: 100%;
	margin:0 auto;
	border-style: solid;
	border-color: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro-text{
	margin: 1rem;
	width: 100%;
	max-width: 500px;
}

/*Opmaak intro image*/
.intro-image{
	width: 100%;
	max-width: 150px;
	height: auto;
	margin: 1rem;
}

/*Opmaak workethic box*/
.workethic-box{
	width: 100%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.workethic-image{
	width: 100%;
	max-width: 100px;
	height: auto;
}

.workethic-text{
	border-style: solid;
	border-color: red;
	width: 100%;
	max-width: 350px;
}

.end{
	margin-top: 4rem;
}


