@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: 	#141414;
	text-align: center;
}

body { 
	min-height: 100vh;
	background-color: #FAF2E5; 
}

h1, h2{
	color: #D34A53;
	margin: 1rem;
}

h1{
	font-size: 3.25rem;
}

h2{
	font-size: 1.75rem;
}

.main{
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}

p{
	font-family: 'Montserrat', sans-serif;
}

/*opmaak navigatiemenu*/
#logo-hidden{
	width: 100%;
	max-width: 100px;
	height: auto;
	display: none;
}

.layout-header{
	z-index: 3;
	bottom: 0;
    position: fixed;
    top: auto;
    width: 100%;
    background-color: #FAF2E5; 
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    display: flex;
	justify-content: center;
	padding: 0;
}

ul {
	list-style-type: none;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 1.25rem;
/*	font-size: 0.875rem; /*14px*/*/
}

.nav-container a {
	color: #037277;
	text-decoration: none;
	padding: 1.25rem;
}

/*Opmaak logo*/
.escapehatch{
	width: 100%;
	margin: 0 auto;
}

.logo{
	width: 100%;
	max-width: 100px;
	height: auto;
	margin: 0.5rem auto; /*makes sure the logo is in the middle*/
}

/*Opmaak introbox*/
.intro-box{
	width: 100%;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro-text{
	margin: 1rem;
	width: 100%;
	max-width: 500px;
}

/*Opmaak intro image*/
.intro-image{
	width: 100%;
	max-width: 200px;
	height: auto;
	margin: 1rem;
}

/*Opmaak workethic box*/
.workethic-box{
	width: 100%;
	margin: 0;
	background-color: #AECFD3; /*lightblue pink #C5A0A2*/
}

.workethic-intro{
	padding: 1rem;
	margin: auto auto;
	max-width: 800px;
}

.workethic-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

figure{
	text-align: center !important;
}

.workethic-image{
	width: 100%;
	max-width: 100px;
	height: auto;
}

.right-images{
	width: 100%;
	height: auto;
}

.myWork{
	max-width: 350px;
}

.workethic-text{
	width: 100%;
	max-width: 350px;
	margin: 1rem 0;
	padding: 1rem;
}

.end{
	margin-top: 4rem;
}

.intro-text, .workethic-intro, .workethic-text, .tile {
	text-align: justify;
  	text-justify: inter-word;
}




