.big-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.box{
	width: 100%;
	max-width: 330px;
	margin: 0;
	padding: 0.5rem;
}

.collapsible {
  background-color: #CD8F95;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  max-width: 1000px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

button.collapsible{
  margin: 0 0 0.5rem 0;
}

.active, .collapsible:hover {
  background-color: #C68187;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #F9F1F2;
}

.collapsible:after{
  display: none; /*This removes the styling of the button on the homepage*/
}
