.previous, .next {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.previous:hover {
  background-color: #ddd;
  color: black;
}

/*.next:hover,
.next:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}*/
/*.next:hover{
  background-color: #ddd;
  color: black;
}*/

.next {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.next:hover {
  box-shadow: inset 600px 0 0 0 #D80286;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin: 1rem;
}

.next {
  background-color: #04AA6D;
  color: white;
  margin: 1rem;
}

.round {
  border-radius: 50%;
}

.work-buttons {
  text-align: center !important;
}

.download-button {
  margin: 1rem;
}

