/*buttons on the homepage to click to the detailed workpages */
button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #CF833E;
  font-size: 1rem;
  background: none;
  text-align: justify;
  margin-top: 2rem;
  transition: all 0.5s;
  cursor: pointer;
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 0px;
  right: -5px;
  transition: 0.5s;
}

button:hover:after {
  opacity: 1;
  right: -20px;
}


/*css code for all the buttons and a links on the website*/
.underline{
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #CF833E;
  transition: width 0.25s ease-out;
}
.underline:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}