.next {
  color: #CF833E;
  margin: 1rem;
  border: 1px solid #C68187;
  border-radius: 0px;
  padding: 1rem 1.25rem;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #C68187;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.next:hover {
  box-shadow: inset 600px 0 0 0 #C68187;
  color: #FFF;
}

.round {
  border-radius: 50%;
}

.work-buttons {
  text-align: center !important;
}

.download-button {
  margin: 1rem;
}

