@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');

/*the basic style of a page*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*the style of the body and html*/
html, body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px; /* 1rem = 16px */
	color: #3A3A3C;
	/*color: #27403D;*/
	text-align: center;
	/*background-color: #FAF2E5; */
	background-color: #FDFCFA;
}

.main{
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}

/*Special font sizes and styles*/
h1, h2{
	color: #CF833E;
	margin: 1rem;
}

h1, h2, .tile h3, p.intern-space, .intern-p p {
	text-align: initial;
}

.margin-h, .footer h1 {
	text-align: center !important;
}

.margin-h{
	padding-top: 1.5rem;
	margin-bottom: 0;
}

#special-h{
	font-size: 3.25rem;
}

h2{
	font-size: 1.75rem;
}

p{
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #CF833E;
}

p, a{
	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
  	-ms-hyphens: auto;
  	hyphens: auto;
  	word-break: normal;
}

.intro-text, .workethic-intro, .workethic-text, .tile, .margin-section {
	text-align: justify;
	/*text-align: left;*/
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-justify: inter-word;
	text-align-last: left;
}

/*style first 'block' of the page*/
.intro-box{
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro-box, .intro-text, .intro-image{
	width: 100%;
}

.intro-text {
	margin: 1rem;
	max-width: 400px;
}

.intro-image{
	max-width: 200px;
	height: auto;
	margin: 1rem auto;
}

/*Style of the second 'block' about how I work*/
.workethic-box{
	width: 100%;
	margin: 0;
	padding: 1rem;
	background-color: #f6f6f6;
}

.workethic-intro {
	padding: 1rem;
	margin: auto auto;
	max-width: 800px;
}

.workethic-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1rem;
}

figure{
	text-align: center !important;
	margin-top: 1rem;
}

.workethic-image{
	width: 100%;
	max-width: 100px;
	height: auto;
}

.myWork{
	max-width: 300px;
}

.workethic-text{
	width: 100%;
	max-width: 350px;
	padding: 1rem;
}

.margin-section{
	padding: 1rem;
	max-width: 800px;
	margin: auto auto;
}

.credits-p{
	padding-left: 2rem;
}

.end{
	margin-top: 4rem;
}

#special-end{
	margin-bottom: 1rem;
}

hr.rounded {
	border: 0;
  	height: 2px;
  	background-image: linear-gradient(to right, transparent, #E1C8CA, transparent);
  	margin: 1rem;
}

.footer-flex{
	display: flex;
	flex-direction: column;
}

.link-footer{
	padding: 0.5rem;
	margin: 1rem 2rem;
}

.footer-logo{
	max-width: 100px;
}