@media only screen and (min-width: 390px){
	.nav-container a {
		margin: 0 1.25rem;
	}
}

@media only screen and (min-width: 460px){
	.intro-image{
		max-width: 400px;
	}

	.myWork{
		max-width: 350px;
	}

	.nav-container a {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 800px){
	.tile{
		margin: 1rem !important;
	}

	label{
		font-size: 1rem !important;
		margin: 2rem !important;
	}

	.nav-container a {
		padding-top: 1.25rem;
	}
}

@media only screen and (min-width: 860px){
	.escapehatch{
		display: none;
	}

	.layout-header{
		top: 0;
		height: 130px;
		align-items: center;
		position: sticky;
		z-index: 3;
	}

	#logo-hidden{
		display: block;
	}

	.end{
	margin-top: 0;
	}

	.footer-flex{
		flex-direction: row;
		justify-content: space-evenly;
	}

}

@media only screen and (min-width: 1024px){
	.intro-box{
		justify-content: space-around;
		align-items: center;
	}
}
