.container {
  width:100%;
  margin:0 auto;
}

input[type="radio"] {
  display: none;
}

label{
  display: inline-block;
  padding-bottom: 10rem; /* defines the space between text and underline */
  position: relative;
}

label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #CF833E;
  transition: width 0.25s ease-out;
}
label:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

label {
  width: 100%;
  max-width: 100px;
  color:#222222;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor:pointer;
  font-size: 0.75rem; /*12px*/
}

input[type="radio"][id="ontwerp"]:checked + label {
  /*background:#BCDCE0;*/
}

input[type="radio"][id="ontwerp"]:checked ~ .website, input[type="radio"][id="ontwerp"]:checked ~ .onderzoek {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id="website"]:checked + label {
  /*background:#D4E5E5;*/
}
input[type="radio"][id="website"]:checked ~ .ontwerp, input[type="radio"][id="website"]:checked ~ .onderzoek {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id="onderzoek"]:checked + label {
  /*background:#AECFD3;*/
}
input[type="radio"][id="onderzoek"]:checked ~ .ontwerp, input[type="radio"][id="onderzoek"]:checked ~ .website {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

.tile {
  width: 100%;
  max-width:400px;
  margin: 1rem 0;
  padding: 2rem;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

div.tile{
  transition: all 0.5s ease-in;
}

div.tile:hover,
div.tile:focus {
  background-color: #F9F1F2;
  box-shadow: 0 0.1px 0.6px rgba(0, 0, 0, 0.025),
              0 0.3px 1.3px rgba(0, 0, 0, 0.036),
              0 0.5px 2.5px rgba(0, 0, 0, 0.045),
              0 0.9px 4.5px rgba(0, 0, 0, 0.054),
              0 1.7px 8.4px rgba(0, 0, 0, 0.065),
              0 4px 20px rgba(0, 0, 0, 0.09);
}

/*.onderzoek {
  background:#AECFD3;
}
.ontwerp {
  background:#BCDCE0;
}
.website {
  background:#D4E5E5;
}
*/
.myWork{
  max-width: 300px;
}

.intern-flex{
  display: inline-flex;
  align-items: center;
}

.intern-space{
  padding-left: 2rem;
  margin-top: 0.75rem;
}

.intern-p{
  margin-left: 0.75rem;
  margin-bottom: 1rem;
}

.intern-h{
  margin-top: 0.75rem;
}

@media only screen and (min-width: 860px){
  .tile{
    max-width: 500px;
  }

  .right-block{
    padding-left: 1rem;
  }

  /*.big-intern-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }*/

  .myWork{
    max-width: 400px;
  }
}
