.work-box{
	width: 100%;
	max-width: 1000px;
  	margin: auto auto;
  	text-align: justify;
  	text-justify: inter-word;
}

h1, h2, h3, p {
	margin: 1rem;
}

p{
	margin-top: 0;
}

h3{
	margin-bottom: 0;
}

.work-images{
	width: 100%;
	height: auto;
	max-width: 300px;
}

.work-images.landscape {
    max-height: 150px;
    max-width: 300px;
}

.work-images.square {
    max-height: 300px;
    max-width: 300px;
}

.work-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: safe center;
	align-items: center;
}

.workbox-end{
	margin-top: 8rem;
}